<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>郵便番号検索</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/main.css}">
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
	<div class="container mt-5">
		<h1>郵便番号検索</h1>
		<form class="mt-1" name="getAddress">
			<div class="mt-2">
				<table border="1">
					<tbody>
						<tr>
							<td>郵便番号</td>
							<td><input id="zipcode" type="text" maxlength=7> <input id="getAddressBtn"
								type="button" value="郵便番号検索"></td>
						</tr>
						<tr id="select-address">
							<td>住所選択</td>
							<td><select id="td-select-address" name="td-addrres"
								style="width: 100%" onchange="setAddress()">
									<!-- <option value="1">test1</option> -->
							</select></td>
						</tr>
						<tr>
							<td>住所1</td>
							<td><input type="text" id="td1-address" style="width: 100%"></td>
						</tr>
						<tr>
                            <td>住所2</td>
                            <td><input type="text" id="td2-address" style="width: 100%"></td>
                        </tr>
                        <tr>
                            <td>住所3</td>
                            <td><input type="text" id="td3-address" style="width: 100%"></td>
                        </tr>
					</tbody>
				</table>
			</div>
		</form>
	</div>
</body>
</html>